*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

.weather-page{

height:100vh;

padding:30px;

background-image:url(
"https://images.unsplash.com/photo-1534088568595-a066f410bcda?q=80&w=2000"
);

background-size:cover;
background-position:center;

color:white;
}

.search-container{

display:flex;

justify-content:flex-end;

margin-bottom:30px;
}

.search-container input{

width:320px;

padding:15px;

border:none;

outline:none;

border-radius:50px 0 0 50px;
}

.search-container button{

padding:15px;

border:none;

border-radius:0 50px 50px 0;
}

.main-weather{

text-align:center;

margin-bottom:30px;
}

.main-weather h1{

font-size:60px;
}

.main-weather h2{

font-size:90px;
}

.main-weather p{

font-size:35px;
}

.chip-container{

display:flex;

flex-wrap:wrap;

justify-content:center;

gap:10px;

width:70%;

margin:auto;

margin-bottom:40px;
}

.chip{

padding:8px 18px;

border-radius:50px;

background:white;

color:black;

font-size:14px;
}

.daily-title{

text-align:center;

font-size:45px;

margin-bottom:30px;
}

.daily-row{

display:flex;

justify-content:center;

gap:60px;
}

.day-card{

text-align:center;
}

.day-card h2{

font-size:35px;
margin:10px 0;
}

.day-card p{

font-size:18px;
}